@import url('https://fonts.googleapis.com/css?family=Italiana');

/*  contains the navigation bar  */
header {
    height: 4%;
    margin-top: 3%;
}

/* Navigation Bar */
ul {
    height: 100%;
    text-align: center;
    width: 60%;
    margin: auto;
}

.navigation {
    display: inline-block;
    height: 100%;
    font-size: 1.4vmax;
    vertical-align: text-bottom;
    padding: .3%;
    font-family: 'Italiana', serif;
    
    border: thin solid transparent;
}

.navigation a {
    text-decoration: none;
    color: white;
}

/* adds a box around nagigation items about to be clicked on */
.navigation:hover {
    border: thin solid white;
}

/* adds a box around the currently selected navigation item */
.current {
    border: thin solid white;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: 'Italiana', serif;
    font-size: 1.5vmax;
}

/* setting the width of the scroll bar as 0 to hide it, yet make it functional  */
html::-webkit-scrollbar {
    background: black; 
    width: 0px;
}

/* sets the background image */

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: auto;
    
}

/* title */
h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 3vmax;
    font-family: 'Italiana', serif;
}

/* needed to house the section and center it and add some padding */
article {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

/* sets a semi transparent background for the content/text */
section {
    width: 40%;
    margin: auto;
    
    background: rgba(0, 0, 0, .6);
    border-radius: 5px;
    padding: .5%;
    
}


.menu{
    list-style-type:none;
}
.content {
    
    font-weight: bold;
    text-align: center;
}

.menu_photos{
    margin: 5%;
    border-radius: 4px;
    border: thin solid white;
    width: 40%;
}

.photo {
    margin: 5%;
    border-radius: 4px;
    border: thin solid white;
    width: 65%
}